/* INTERFACE */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 13px;
    overflow-x: hidden;
}
header{
    height: 100px;
    background-color: black;
    color: #fff;
}
.header{
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo{
    width: 100px;
}
.logoimg{
    height: 80px;
    width: 80px;
}
.menu{
    flex:1;
    display: flex;
    justify-content: flex-end;
}
.menu ul,
.menu li {
    list-style: none;
}
.menu ul{
    display: flex;
}
.menu li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 5px;
    display: flex;
    align-items: center;
    height: 100px;
    border-bottom: 5px solid #000;
}
.menu li a:hover,
.menu .active a {
    border-bottom: 5px solid #b28756;
}

.banner{
    background-color: #333;
    height: calc(100vh - 100px);
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: top;
    overflow: hidden;
}
.banner .sliders{
    width: 1000vw;
    height: 100%;
}
.banner .slide{
    width: 100vw;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    display: inline-block;
}
.banner .slidearea{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    height: 100%;
}
.banner h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}
.banner h1 span{
    color: #b28756;
}
.banner h2{
    text-transform: uppercase;
    margin-top: 20px;
}
.button{
    display: inline-block;
    background-color: #b28756;
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    text-decoration: none;
    margin-top: 30px;
    padding: 10px 30px;
    border-radius: 20px;
}

.banner .slider-pointers{
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .pointer{
    height: 15px;
    width: 15px;
    border-radius: 8px;
    border: 2px solid #b28756;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.banner .active{
    background-color: #b28756;
}

.default{
    padding-top: 50px;
    padding-bottom: 50px;
}
.default .section-title,
.default .section-desc {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
.default .section-title{
    font-size: 20px;    
}
.default .section-desc{
    font-size: 12px;
    color: #ccc;
    margin-top: 10px;
    margin-bottom: 40px;
}
.default .section-body{
    margin: auto;
    max-width: 1140px;
}
.default.light{
    background-color: #f7f7f7;
}
.default.light .section-title,
.default.light .section-body{
    color: #000;
}
.default.dark{
    background-color: #000;
}
.default.dark .section-title,
.default.dark .section-body{
    color: #f7f7f7;
}

/* FIM INTERFACE */




/* ÁREAS ESPECÍFICAS */ 

.aboutUs {
    display: flex;
}
.aboutUs--left{
    flex:1;
}
.aboutUs--right{
    width: 520px;
    text-align: center;
}
.aboutUs--right img{
    width: 480px;
    box-shadow: 0px 5px 10px #333;
}
.aboutUs--left p{
    font-size: 14px;
    line-height: 25px;
}

.services{
    display: flex;
}
.serv-item{
    flex:1;
    text-align: center;
    border-left: 1px solid #333;
    padding: 15px;
}
.services:first-child{
    border-right: 1px solid #333;
}
.serv-item h4{
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 20px;
}
.serv-item p{
    margin-top: 10px;
    font-size: 13px;
    color: #999;
}
.projetos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projetos-filter{
    border: 1px solid #ccc;
    background-color: #eee;
    border-radius: 30px;
    display: inline-block;
    padding: 0 20px;
}
.projetos-filter ul li{
    list-style: none;
    display: inline-block;
    padding: 15px 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid #999;
    color: #555;
    border-bottom: 3px solid #eee;
    cursor: pointer;
}
.projetos-filter ul li:hover,
.projetos-filter ul li.active{
    border-bottom: 3px solid #b28756;
}
.projetos-filter li:first-child{
    border-left: 0;
}

.projetos-fotos{
    width: 100%;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.projetos-fotos-item{
    width: 280px;
}
.foto-item-area{
    margin: 10px;
    width: 260px;
    height: 160px;
    cursor: pointer;
}
.foto-item-area img,
.item-infos {
    width: inherit;
    height: inherit;
}
.item-infos{
    position: absolute;
    background-color: rgba(0,0,0, 0.7);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    padding: 15px;
    
}
.item-infos h5{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.foto-item-area:hover .item-infos{
    display: flex;
    cursor: pointer;
}



.bg-ourteam {
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-position: center;
    padding: 0;
}
.ourteam{
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}
.ourteam-alpha{
    background-color: rgba(0,0,0,0.8);
    height: inherit;
    width: inherit;
    padding-top: 50px;
    padding-bottom: 50px;
}
.ourteam .sliders{
    width: 1000vw;
    height: 100%;
}
.ourteam .slide{
    width: 280px;
    height: 100%;
    background-color: #fff;
    display: inline-block;
    margin-right:20px;
    min-height: 300px;
    
}
.ourteam .slidearea{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    height: 100%;
    padding: 30px;
}
.ourteam .slider-pointers{
    height: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ourteam .pointer{
    height: 15px;
    width: 15px;
    border-radius: 8px;
    border: 2px solid #b28756;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.ourteam .active{
    background-color: #b28756;
}
.avatar{
    width: 100px;
    height: auto;
}
.name-team{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    margin-top: 30px;
}
.role-team{
    color: #999;
    font-size: 14px;
    margin-top: 5px;
}
.midia-team{
    display: flex;
    margin-top: 20px;
}
.midia-team a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    width: 25px;
    height: 25px;
    border-radius: 13px;
    margin-right: 10px;
}
.midia-team a:hover{
    background-color: #b28756;
}